.container {
    width: 1920px;
    margin: 0 auto;
    text-align: center;
}
 #result {
    width: 410px;
     margin-right: 184px;
     background: white;
}
.table {
    width: 600px;
    margin: 0 auto;
}
td {
    width: 100px;
    height: 100px;
}
input,  button {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
}
input:hover{
    background: red;
}
button:hover{
    background: red;
}
